################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckNationIDAPI/config/applicationhost.config
/.vs/CheckNationIDAPI/v16/.suo
/.vs/CheckNationIDAPI/v16/Server/sqlite3/storage.ide-wal
/.vs/CheckNationIDAPI/v16/Server/sqlite3/storage.ide-shm
/.vs/CheckNationIDAPI/v16/Server/sqlite3/storage.ide
/.vs/CheckNationIDAPI/v16/Server/sqlite3/db.lock
/CheckValidThaiNationIDWebAPI/CheckNationIDAPI/bin
/CheckValidThaiNationIDWebAPI/CheckNationIDAPI\obj
/CheckNationIDAPI/obj/Debug/CheckNationIDAPI.pdb
/CheckNationIDAPI/obj/Debug/CheckNationIDAPI.dll
/CheckNationIDAPI/obj/Debug/CheckNationIDAPI.csproj.FileListAbsolute.txt
/CheckNationIDAPI/obj/Debug/CheckNationIDAPI.csproj.CoreCompileInputs.cache
/CheckNationIDAPI/obj/Debug/CheckNationIDAPI.csproj.CopyComplete
/CheckNationIDAPI/bin/Microsoft.ApplicationInsights.xml
/CheckNationIDAPI/bin/Microsoft.ApplicationInsights.dll
/CheckNationIDAPI/bin/Microsoft.AI.WindowsServer.xml
/CheckNationIDAPI/bin/Microsoft.AI.WindowsServer.dll
/CheckNationIDAPI/bin/Microsoft.AI.Web.xml
/CheckNationIDAPI/bin/Microsoft.AI.Web.dll
/CheckNationIDAPI/bin/Microsoft.AI.ServerTelemetryChannel.xml
/CheckNationIDAPI/bin/Microsoft.AI.ServerTelemetryChannel.dll
/CheckNationIDAPI/bin/Microsoft.AI.PerfCounterCollector.dll
/CheckNationIDAPI/bin/Microsoft.AI.DependencyCollector.xml
/CheckNationIDAPI/bin/Microsoft.AI.DependencyCollector.dll
/CheckNationIDAPI/bin/Microsoft.AI.Agent.Intercept.dll
/CheckNationIDAPI/bin/CheckNationIDAPI.pdb
/CheckNationIDAPI/bin/CheckNationIDAPI.dll.config
/CheckNationIDAPI/bin/CheckNationIDAPI.dll
/CheckNationIDAPI/bin/ApplicationInsights.config
