################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CheckNationIDAPI/config/applicationhost.config
/.vs/CheckNationIDAPI/v16/.suo
/.vs/CheckNationIDAPI/v16/Server/sqlite3/storage.ide-wal
/.vs/CheckNationIDAPI/v16/Server/sqlite3/storage.ide-shm
/.vs/CheckNationIDAPI/v16/Server/sqlite3/storage.ide
/.vs/CheckNationIDAPI/v16/Server/sqlite3/db.lock
/CheckValidThaiNationIDWebAPI/CheckNationIDAPI/bin
/CheckValidThaiNationIDWebAPI/CheckNationIDAPI\obj